.navbar {
  background-color: #dfdfdf;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 40px;
  font-weight: bold;
  margin-left: 20px;
}
